* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

@font-face {
  font-family: Quicksand;
  src: url(./fonts/Quicksand-Regular.ttf);
}

#landing_page{
  background-image: url("/public/assets/bg.png");
  background-color: rgba(26, 26, 26, 1);
}



#ourservices{
  background-image: url('/public/assets/Turn\ on.png');
  background-color: rgba(26, 26, 26, 1);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 3;
}